# zsh files
.zhistory
.zcompdump
.zcompdump.zwc
.zprofile
.zcompcache/
.zsh_sessions/

# Compiled functions
*.zwc

# Plugins
plugins/

# Local environment variables
env/local

# Local functions
functions/local/

# Local completions
completions/local/

# Quick paths
quick_paths
