# zsh files
.zhistory
.zcompdump
.zcompdump.zwc
.zprofile
.zcompcache/
.zsh_sessions/

# Plugins
plugins/

# Local environment variables
env/local

# Local functions
functions/local/

# Quick paths
quick_paths
