# zsh files
.zhistory
.zcompdump
.zcompdump.zwc
.zprofile
.zcompcache/
.zsh_sessions/

# Compiled functions
*.zwc

# Plugins
.plugins/

# Cached completions
.completions/

# git-private: managed directory
local/
